* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    padding-top: 5vh;
    margin: 0;
    height: 100%;
    background: rgb(176, 193, 228);
    text-align: center;

}

header {
    
    top: 0;
    background: rgb(9, 0, 92);
    color: white;
    display: block;
    width: 100%;
    height: 5vh;
    position: fixed;
    line-height: 5vh;


}

header nav ul{
    float: left;
}

 header nav ul li{
    display: inline-flex;

 }
 header nav ul li a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 10px;
 }

header nav ul li a:hover{
   color: aqua;
}


.contenedor {
    min-height: 90vh;
    height: 80%;
    width: 80%;
    background-color: aliceblue;
    padding: 30px;

}

.note {
    background-color: rgb(192, 224, 240);
    border-radius: 40px;
    columns: 2;
    display: inline-flex;
    margin: auto;
    padding: 5px;


}

.pMayor {
    font-size: 100px;
    color: white;
    width: 30%;
    text-align: center;
}

.pMenor {
    font-size: 30px;
    font-style: oblique;
}

.blocks {
    margin-top: 20PX;
    display: grid;
    /* background-color: rgb(141, 141, 141); */
    grid-template-columns: repeat(3, 1fr);

}


.blocks .min-block {
    padding: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: rgb(92, 71, 255);
    border-radius: 40px;

}


.blocks .min-block h3 {
    color: aliceblue;
}


.blocks .min-block .content {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(89, 0, 255, 0.349) 100% ) ,url(bgHeart.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px;
    color: black;
    border-radius: 40px;
    height: 200px; 
}

.blocks .min-block :hover {
    padding: 2%;
    background-color: rgb(17, 0, 80);
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: all 0.5s;
}

/* .blocks .min-block .content :hover{
    height: 200px; 
    background-color: aqua;
} */


#footer {    
    display: table;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(14, 14, 19);
    color: #fff;
    text-align: center;
    position: relative;
}